<%- include ('partials/header.ejs')%>
<h1>welcome to landing page</h1>
<p>welcome to yelpcamp </p>

<a href="/index">View all campgrounds</a><hr>
<a href="/index/new">Add new campground</a>
<%- include ('partials/footer.ejs')%>