<%- include("partials/header") %>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button type="submit">Button</button>
</form>

<a href ="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/register">Register</a>

<%- include("partials/footer") %>