<%- include ('./partials/header.ejs')%>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Sign Up here ! </h1>
        <div style="width:30%;margin:25px auto;">
            <form action="/register" method="POST" >
                
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" <input type="email" id="email" placeholder="email" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                
                <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Register</button>
                </div>
                
            </form>
            <div class="container">
                <a href="/register" class="btn btn-xs btn-success">Already a User?</a>
                <a href="/index"  class="btn btn-xs btn-danger">View all campgrounds as a guest</a> 
            </div>
             
        </div>
      
    </div>
    
</div>

<%- include ('./partials/footer.ejs')%>









